
<section class="musicSection">
    <button id="music-toggle">Toggle Music</button>
   <audio id="music" src="/assets/indie-summer-141351.mp3"></audio>
   <input type ="range" id="volume-slider" min ="0" max="1" step="0.1" value="1">
</section>

<script src="/js/audio.js"></script>
