<link rel="stylesheet" href="/css/styles.css">


<div id="clock">
    <h2> Current Time</h2>
    <div id="time">
        <div> <span id="hour">00</span> <span>Hours</span></div>
        <div> <span id="minutes">00</span> <span>Minutes</span></div>
        <div> <span id="seconds">00</span> <span>Seconds</span></div>
        <div> <span id="ampm">00</span></div>
    </div>
</div>
<script src="/js/clock.js"></script>