{{!-- link the style --}}
<link rel="stylesheet" href="/css/styles.css">
{{!-- create a div for the clock and include a title and div for hour, 
minute, seconds, am/pm --}}
<div id="clock">
    <h2> Current Time</h2>
    <div id="time">
        <div> <span id="hour">00</span> <span>Hours</span></div>
        <div> <span id="minutes">00</span> <span>Minutes</span></div>
        <div> <span id="seconds">00</span> <span>Seconds</span></div>
        <div> <span id="ampm">00</span></div>
    </div>
</div>
{{!-- link the clock.js script --}}
<script src="/js/clock.js"></script>