<div>
    <img class="cloud1" src="/images/cloudnew.webp">
    <img class="cloud2" src="/images/cloudnew.webp">
    <img class="cloud3" src="/images/cloudnew.webp">
    <img class="cloud4" src="/images/cloudnew.webp">
    <img class="cloud5" src="/images/cloudnew.webp">
</div>
