<div>
    <img class="cloud1" src="/images/cloudnew.webp"
    style="width: 300px">
    <img class="cloud2" src="/images/cloudnew.webp" style="width: 150px">
    <img class="cloud3" src="/images/cloudnew.webp" style="width: 100px">
    <img class="cloud4" src="/images/cloudnew.webp" style="width: 250px">
    <img class="cloud5" src="/images/cloudnew.webp">
</div>
