<div class="createWrapper">
    <input class="form-input" type="text" id="char-name" placeholder="Character Name">
        {{!-- </div>
        <div class="form-group"> --}}
    <label for="character-type" id="char-select">Pick your Character</label>
    <select name ="character" id="char-select">
        <option value="">Please Select a Character</option>
        <option id="cactus" value="Cactus">Cactus</option>
        <option value="tbd">More options coming soon!</option>
    </select>
    <button class="create-button" type="submit">Create-A-Character</button>
    <p id="signedUpc"></p>
</div>

<script src="/js/create.js"></script>