 
        <div class="image1"> 
        <img class="image2" src="/images/wtf.png"width='200px'/>
        </div> 
        <div class="playButtons">
            <button id="feedMe">Feed Me Seymour!</button>
            <button id="play">Can We Play?</button>
            <button id="dance">I Wanna Rock!</button>
            <button id="sleep">I'm Tired...</button>
          </div>
      {{> sun}}