<div class="main">  	
			<div class="signup">
				<form class="formFlex">
					<input type="text" name="txt" placeholder="User name" id="username-signup">
					<input type="email" name="email" placeholder="Email" id="email-signup">
					<input type="password" name="pswd" placeholder="Password" id="password-signup">
					<button class="signup-button" type="submit">Sign up</button>
				</form>
			</div>
	</div>

<script src="/js/signup.js"></script>