.parent {
  position: relative;
  top: 0;
  left: 0;
}
/* .image1 {
  background-image: url(../images/newdayskytest.png);
  background-size: cover;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 75vh;
  width: 75vw;
  top: 0;
  left: 0;
  border: 1px solid #000000;
  justify-content: center;
  align-items: center;
} */
.image2 {
  /* position: absolute; */
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  /* top: 500px; */
  /* border: 1px solid #000000; */
  bottom: -40vh;
}

.welcomeGreeting {
  position:relative;
  bottom: -42vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 30px;
  color: rgb(255, 143, 38);
  text-shadow: 2px 2px 2px black;
}

#music-toggle {
  color: rgb(255, 143, 38);
  background-color: rgb(255, 204, 157);
  padding: 5px;
  width: 150px;
  height: 50px;
  text-align: center;
  font-size: 17px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Short Stack", cursive;
  text-shadow: 2px 2px 2px black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}

#music-toggle:hover {
  background-color: rgb(172, 84, 2);
}

.musicSection {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-left: 10px;
}

#volume-slider {
  width: 150px;
}

.playButtons {
  display: flex;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 5px;
}

.playButtons button {
  color: rgb(255, 143, 38);
  background-color: rgb(255, 204, 157);
  padding: 5px;
  width: 200px;
  height: 110px;
  text-align: center;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Short Stack", cursive;
  text-shadow: 2px 2px 2px black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}

.playButtons button:hover {
  background-color: rgb(172, 84, 2);
}

body {
  background: url(../images/newdayskytest.png);
  display: block;
  margin: 0;
  font-family: "Short Stack", cursive;
  /* background-size: 100% 100%; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* height: 100vh;
  width: 100vw; */
  /* width: 100%; 
  height: 100%; */
  resize:none;
  overflow:hidden;
  background-attachment: fixed;
}

#background-wrap {
  bottom: 0;
left: 0;
padding-top: 50px;
position: fixed;
right: 0;
top: 0;
z-index: -1;
}

h1 {
  color: rgb(255, 143, 38);
  text-align: center;
  font-size: 50px;
  font-family: "Short Stack", cursive;
  text-shadow: 1px 1px 1px black;
}


.homepageButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-link {
  color: rgb(255, 143, 38);
  text-decoration: none;
  background-color: rgb(255, 204, 157);
  padding: 5px;
  width: 200px;
  text-align: center;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Short Stack", cursive;
  text-shadow: 2px 2px 2px black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}

.login-link:hover {
  scale: 1.05;
  transition: 0.4s;
}

#incorrectAlertP {
  color: rgb(255, 143, 38);
  text-decoration: none;
  padding: 5px;
  width: 400px;
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Short Stack", cursive;
  text-shadow: 2px 2px 2px black;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.signup-link {
  color: rgb(255, 143, 38);
  text-decoration: none;
  background-color: rgb(255, 204, 157);
  padding: 5px;
  width: 200px;
  text-align: center;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Short Stack", cursive;
  text-shadow: 2px 2px 2px black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}

.signup-link:hover {
  scale: 1.05;
  transition: 0.4s;
}

#signedUpP {
  color: rgb(255, 143, 38);
  text-decoration: none;
  padding: 5px;
  width: 400px;
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Short Stack", cursive;
  text-shadow: 2px 2px 2px black;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* .main {
    background-color: rgb(67, 67, 255);
} */

.formFlex {
  background-color: rgb(255, 219, 186);
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}

.formFlex label {
  color: rgb(255, 143, 38);
}

.formFlex input {
  margin-top: 3px;
  margin-bottom: 3px;
}

.formFlex button {
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: rgb(255, 219, 186);
  color: rgb(255, 143, 38);
  text-shadow: 2px 2px 2px black;
  font-size: 25px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}

.formFlex button:hover {
  scale: 1.05;
  transition: 0.2s;
}

.login-form {
  background-color: rgb(255, 219, 186);
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}

.login-form label {
  color: rgb(255, 143, 38);
}

.login-form input {
  margin-top: 3px;
  margin-bottom: 3px;
}

.login-form button {
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: rgb(255, 219, 186);
  color: rgb(255, 143, 38);
  text-shadow: 2px 2px 2px black;
  font-size: 25px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}

.login-form button:hover {
  scale: 1.05;
  transition: 0.2s;
}

input {
    border-radius: 5px;
    border: 2px solid rgb(252, 136, 28);
    box-shadow: 2px 2px 2px black;
}

.logout-link {
  color: rgb(255, 143, 38);
  text-decoration: none;
  background-color: rgb(255, 204, 157);
  padding: 5px;
  width: 200px;
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Short Stack", cursive;
  text-shadow: 2px 2px 2px black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  position: absolute;
  right: 10px;
}

.logout-link:hover {
  scale: 1.05;
  transition: 0.4s;
}

.form-input {
  font-family: "Short Stack", cursive;
  padding: 5px;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #04AA6D;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white; 
}
/* cloud test */

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
	
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}

.x2 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x3 {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x4 {
	-webkit-animation: animateCloud 18s linear infinite;
	-moz-animation: animateCloud 18s linear infinite;
	animation: animateCloud 18s linear infinite;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;
	
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
}

/* OBJECTS */

.cloud {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
	
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
    background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}

.ml7 {
  color: blue;
  position: relative;
  font-weight: 1900;
  font-size: 5.7em;
}
.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

#clock {
  display: block;
  position: absolute;
  scale: .8;
}

#clock h2 {
  position: relative;
  display: block;
  color: #fff;
  text-align: left;
  margin: 10px 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 0.8em;
}

#clock #time {
  display: flex;
  align-content: end;
}

#clock #time div {
  position: relative;
  margin: 0 5px;
  /* -webkit-box-reflect: below 1px linear-gradient(transparent,#0004); */

}

#clock #time div span {
  position: relative;
  display: block;
  width: 80px;
  height: 60px;
  background: #2196f3;
  color: #fff;
  font-weight: 300;
  display: flex;
  justify-content: center;
  font-size: 3em;
  z-index: 10;
  box-shadow: 0 0 0 1px rgba(0,0,0,.2);
}

#clock #time div span:nth-child(2)
{
  height: 30px;
  font-size: 0.7em;
  letter-spacing: 0.2em;
  font-weight: 500;
  z-index: 9;
  box-shadow: none;
  background: #127fd6;
  text-transform: uppercase;
}

#clock #time div:nth-last-child(1) span
{
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 40px;
  font-size: 1.5em;
  background: #2196f3;
  color: #000;
  /* -webkit-box-reflect: below 1px linear-gradient(transparent,#0004); */
}

/* Sun and Moon Movement */
.sun {
  width: 150px;
  position: absolute;
  top: 100px;
  left: -200px;
  z-index: -2;
  overscroll-behavior-y: none;
}
.moon {
  width: 100px;
  position: absolute;
  top: 100px;
  left: -200px;
  z-index: -2;
  overscroll-behavior-y: none;
}

.box {
  background-color: #2774d8;
  position: relative;
  width: 30px;
  height: 30px;
  top: -15px;
  left: 15px;
}
path {
  stroke: rgba(0, 0, 0, 0.007);
  stroke-width: 1px;
  fill:none;
}

.erase {
display: none;
}

@media screen and (max-width: 768px) {
  .logout-link {
    scale: .75;
  }
  .playButtons {
    scale: .6;
  }
  #feedMe {
    width: 200px;
  }
  #play {
    width: 200px;
  }
  #dance {
    width: 200px;
  }
  #sleep {
    width: 200px;
  }
  body {
    max-height: 768px;
    max-width: 390px;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  #clock {
    scale: .5;
  }
  .playButtons {
    padding-left: 0;
    padding-right: 0;
  }
  /* .sun {
    scale: .25;
  }
  .moon {
    scale: .25;
  } */
}