body {
    background: linear-gradient(#438cfa, #70ffff);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color:rgb(255, 143, 38);
    text-align: center;
    font-family: 'Short Stack', cursive;
    font-size: 50px;
}

.homepageButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-link {
    color: rgb(255, 143, 38);
    text-decoration: none;
    background-color: rgb(255, 204, 157);
    padding: 5px;
    width: 200px;
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Short Stack', cursive;
    text-shadow: 2px 2px 2px black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}

.login-link:hover {
    scale: 1.05;
    transition: .4s;
}

.signup-link {
    color: rgb(255, 143, 38);
    text-decoration: none;
    background-color: rgb(255, 204, 157);
    padding: 5px;
    width: 200px;
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Short Stack', cursive;
    text-shadow: 2px 2px 2px black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}

.signup-link:hover {
    scale: 1.05;
    transition: .4s;
}