h1 {
    color:aqua;
    text-align: center;
    font-family: 'Short Stack', cursive;
    font-size: 50px;
}

.homepageButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-link {
    text-decoration: none;
    background-color: aqua;
    padding: 5px;
    width: 200px;
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Short Stack', cursive;
}

.signup-link {
    text-decoration: none;
    background-color: aqua;
    padding: 5px;
    width: 200px;
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Short Stack', cursive;
}